/* Add mobile styles for the component here.  */

@import '~@nativescript/theme/scss/variables/index';
@import '../../../../theme/colors';

GridLayout {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
