<TabView
  androidTabsPosition="bottom"
  androidSelectedTabHighlightColor="#7c015d"
  selectedTabTextColor="#7c015d"
  (selectedIndexChanged)="onSelectedIndex($event)"
  #tab
  *ngIf="!isLoading; else loading"
>
  <StackLayout *tabItem="{ title: 'today', iconSource: 'res://check' }">
    <router-outlet *ngIf="selectedIndex === 0" name="today"></router-outlet>
  </StackLayout>
  <StackLayout *tabItem="{ title: 'Current Challenge', iconSource: 'res://trophy' }">
    <router-outlet *ngIf="selectedIndex === 1" name="currentChallenge"></router-outlet>
  </StackLayout>

</TabView>
<ng-template #loading>
  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</ng-template>
