.form {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 80%;
  .label {
    color: $primary;
    font-weight: bold;
    font-family: 'Waltograph', 'waltograph42';
    font-size: 17;
  }
  .label.invalid {
    color: red;
  }

  .input {
    border-bottom-width: 2;
    border-color: $primary;
    width: 100%;
  }
}

.ng-invalid.ng-touched {
  border-bottom-color: red;
  color: red;
}
