<FlexboxLayout class="flex-layout-0">
  <FlexboxLayout class="flex-layout-1">
    <Label
      class="box"
      text="A"
      backgroundColor="#43b883"
      alignSelf="flex-start"
    ></Label>
    <Label
      class="box"
      text="B"
      backgroundColor="#1c6b48"
      alignSelf="flex-end"
    ></Label>
    <Label
      class="box"
      text="C"
      backgroundColor="#289062"
      alignSelf="flex-start"
    ></Label>
  </FlexboxLayout>
  <FlexboxLayout class="flex-layout-2">
    <Label
      class="box"
      text="A"
      backgroundColor="#43b000"
    ></Label>
    <Label
      class="box"
      text="B"
      backgroundColor="#1c6000"
    ></Label>
    <Label
      class="box"
      text="C"
      backgroundColor="#289000"
    ></Label>
  </FlexboxLayout>
  <FlexboxLayout class="flex-layout-3">
    <Label
      text="A"
      backgroundColor="#43b883"
      height="25%"
    ></Label>
    <Label
      text="B"
      backgroundColor="#1c6b48"
      height="25%"
    ></Label>
  </FlexboxLayout>
</FlexboxLayout>
