<nsjdc-action-bar [title]="(currentChallenge$ | async)?.title">
  <ActionItem ios.position="right" android.position="actionBar">
    <Label text="&#xf0fe;" ios:class="fa" android:class="fa" (tap)="goCreate()"></Label>
  </ActionItem>
  <ActionItem ios.position="right" android.position="actionBar">
    <Label text="&#xf044;" ios:class="fa" android:class="fa" (tap)="goEdit()"></Label>
  </ActionItem>
</nsjdc-action-bar>
<ScrollView height="100%">
  <FlexboxLayout class="page" *ngIf="(currentChallenge$ | async) as currentChallenge; else noContent">
    <FlexboxLayout flexDirection="column">
      <Label class="h1 text-center" [text]="'The current challenge'"></Label>
      <Label
        class="body text-center"
        [text]="currentChallenge?.description"
      ></Label>
    </FlexboxLayout>
    <GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
      <Label
        class="week-day text-center"
        width="100%"
        *ngFor="let day of weekDays; let i = index"
        [text]="day"
        [row]="0"
        [col]="i"
      ></Label>
      <Label
        class="day text-center not-setable"
        *ngFor="let day of currentChallenge?.days; let i = index"
        [text]="day.dayInMonth"
        [row]="getRow(i, day)"
        [col]="day.dayInWeek"
        (tap)="onChangeStatus()"
      ></Label>
    </GridLayout>
  </FlexboxLayout>
  <ng-template #noContent>
    <FlexboxLayout class="page" flexDirection="column">
      <Label class="h1" text="no current challenge!!!"></Label>
      <Button class="btn -primary" text="create a challenge" (tap)="goCreate()"></Button>
    </FlexboxLayout>
  </ng-template>
</ScrollView>
