<!--
<ListView [items]="challenges" (itemTap)="onItemTap($event)" iosEstimatedRowHeight="75" height="90%">
  <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
    <GridLayout rows="40, 30" columns="50, auto">
      <Label row="0" col="0" [text]="item" class="list-group-item"></Label>
      <Label row="0" col="1" [text]="'item content'" class="list-group-item"></Label>
      <Label row="1" col="1" [text]="'item row 2'" class="list-group-item"></Label>
    </GridLayout>
  </ng-template>
</ListView> -->
<nsjdc-action-bar [title]="'Current Challenge'"></nsjdc-action-bar>
<StackLayout>
  <Label [text]="'The current page red'"></Label>
  <Button [text]="'Edit'" (tap)="goEdit()"></Button>
</StackLayout>
