<ActionBar [title]="title" (loaded)="onLoadedActionBar()">
  <NavigationButton
    [text]="'back'"
    android.systemIcon="ic_menu_back"
    (tap)="goBack()"
    *ngIf="canGoBack"
  ></NavigationButton>
  <ng-container *ngIf="hasMenu">
    <NavigationButton *ngIf="isIsAndroid" icon="res://menu_black" (tap)="toggleMenu()"></NavigationButton>
    <ActionItem *ngIf="!isIsAndroid" ios.position="left" (tap)="toggleMenu()">
      <Label color="white" text="MENU"></Label>
    </ActionItem>
  </ng-container>
  <ng-content></ng-content>
</ActionBar>
